body {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
main,
footer {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main {
    flex-grow: 1;
}
